/**
 * TOCC Style Guide Element
 * 
 * @filename _content.scss
 * @brand    Vanilla
 * @name     content
 * @author   Alex Wyett
 * @date     2019-04-25
 */
// Include Utilities
@import '../../utils/index';

.tocc__content {
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 0 0 $site-padding / 2 0;
    margin: 0 0 $site-padding / 2 0;
    color: $site-content-header-font-color;
    font-weight: $site-content-header-font-weight;
    font-family: $site-content-header-font-family;
    text-transform: $site-content-header-text-transform;
  }

  h1 {
    @include title(h1);
  }

  h2 {
    @include title(h2);
  }

  h3 {
    @include title(h3);
  }

  h4 {
    @include title(h4);
  }

  h5 {
    @include title(h5);
  }

  p {
    font-size: map-get($site-font-size, p);
    line-height: map-get($site-font-line-height, p);
    color: $site-content-paragraph-font-color;
    font-family: $site-content-paragraph-font-family;
  }

  p:not(:last-child) {
    margin-bottom: 1.2rem;
  }
}