/**
 * TOCC Style Guide Element
 * 
 * @filename _content.scss
 * @brand    Vanilla
 * @name     content
 * @author   Alex Wyett
 * @date     2019-04-25
 */
// Include Utilities
@import '../../utils/index';

$site-content-header-font-color: $site-color-one !default;
$site-content-header-font-weight: normal !default;
$site-content-header-font-family: 'Open Sans', sans-serif !default;
$site-content-header-text-transform: none !default;
$site-content-blockquote-border-color: $site-color-one !default;

.tocc__content h1,
h1.tocc__title {
    @include title(h1);
}

.tocc__content h2,
h2.tocc__title {
    @include title(h2);
}

.tocc__content h3,
h3.tocc__title {
    @include title(h3);
}

.tocc__content h4,
h4.tocc__title {
    @include title(h4);
}

.tocc__content h5,
h5.tocc__title {
    @include title(h5);
}

h1.tocc__title,
h2.tocc__title,
h3.tocc__title,
h4.tocc__title,
h5.tocc__title {
    padding-top: $site-global-padding / 2;
    padding-bottom: $site-global-padding / 2;
}

.tocc__title,
.tocc__content h1,
.tocc__content h2,
.tocc__content h3,
.tocc__content h4,
.tocc__content h5 {
    color: $site-content-header-font-color;
    font-weight: $site-content-header-font-weight;
    font-family: $site-content-header-font-family;
    text-transform: $site-content-header-text-transform;
}

.tocc__content {
    p,
    table thead tr th,
    table tbody tr td,
    table tfoot tr td {
        @include paragraph();
    }

    p,
    table,
    figure,
    blockquote {
        &:not(:last-child) {
            margin-bottom: $site-global-padding;
        }
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: $site-global-margin;
        border-radius: $site-global-radius;
        
        thead {
            display: none;
        
            @include breakpoint(medium) {
                display: table-header-group;
            }
        }
        
        thead,
        tbody,
        tfoot {
            border: 1px solid $site-color-lightgrey;
            background-color: $site-color-almostwhite;
            tr {
                th,
                td {
                    padding: $site-global-padding / 2;
                    
                    .tocc__button {
                        margin-bottom: 0;
                    }
                }
            }
        }
        
        thead,
        tfoot {
            background-color: $site-color-reallylightgrey;
            tr {
                background-color: transparent;
            }
        }
        
        tbody {
            tr {
                &:nth-child(even) {
                    background-color: $site-color-reallylightgrey;
                }
            }
        }
        
        tbody,
        tfoot {
            &,
            tr,
            td td {
                display: block;
            }
        
            @include breakpoint(medium) {
                display: table-row-group;
                tr {
                    display: table-row;
                    td {
                        display: table-cell;
                    }
                }
            }
        }
    }
        
    img,
    figure {
        &.align-right {
            @include breakpoint(medium) {
                float: right;
                margin-left: $site-global-margin;
            }
        }
        &.align-left {
            @include breakpoint(medium) {
                float: left;
                margin-right: $site-global-margin;
            }
        }
        
        &.align-center {
            margin-bottom: $site-global-margin;
        }
        
        &.align-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    figure > img,
    p > img {
        display: block;
        width: 100%;
        margin-bottom: $site-global-margin;
        
        @include breakpoint(medium) {
            display: inline;
            width: auto;
            margin-bottom: auto;
        }
    }

    figure {
        &.align-center {
            @include breakpoint(medium) {
                display: table;
            }
        }

        figcaption {
            @include paragraph();
            @include breakpoint(medium) {
                display: table-row;
            }
            
            padding: 5px 10px 5px 0;
            font-weight: bold;
            font-size: map-get($site-font-size, small);
            
            &:before {
                content: "above: ";
                font-weight: normal;
            }
        }
    }
    
    blockquote {
        @include paragraph();
        padding: $site-global-padding;
        border-left: 2px solid $site-content-blockquote-border-color;
    }
}