/**
 * TOCC Style Guide Element
 * 
 * @filename _iconmedia.scss
 * @brand    Vanilla
 * @name     iconmedia
 * @author   Alex Wyett
 * @date     2019-05-24
 */
// Include Utilities
@import '../../utils/index';

.#{$site-prefix}iconmedia {
    border-radius: $site-global-radius;
    display: inline-block;
    width: 100%;
    padding: $site-global-padding $site-global-padding $site-global-padding $site-global-padding * 3;
    position: relative;
    transition-duration: 86ms;
    transition-property: background-color, color;
    background: $site-color-reallylightgrey;
    
    .#{$site-prefix}title {
        line-height: 1.25;
        margin-bottom: .25em;
        position: relative;
        padding: 0;
        
        i {
            position: absolute;
            right: calc(100% + 0.5rem);
            text-align: center;
            top: 0;
            min-width: 1.5em;
            
            &.icon {
                &:before {
                    @include fa-icon;
                    @include fa;
                    content: fa-content($fa-var-user);
                }
            }
        }
    }
    
    &[href^='/myaccount/bookings'] {
        .#{$site-prefix}iconnav__title i.icon {
            &:before {
                content: fa-content($fa-var-calendar-check);
            }
        }
    }
    
    &[href^='/myaccount/marketingpreferences'] {
        .#{$site-prefix}iconnav__title i.icon {
            &:before {
                content: fa-content($fa-var-tasks);
            }
        }
    }
    
    &[href^='/myaccount/change_password'] {
        .#{$site-prefix}iconnav__title i.icon {
            &:before {
                content: fa-content($fa-var-user-lock);
            }
        }
    }
    
    &[href^='/myaccount/pastbookings'],
    &[href^='/myaccount/bookings'] {
        .#{$site-prefix}iconnav__title i.icon {
            &:before {
                content: fa-content($fa-var-book);
            }
        }
    }
    
    &[href^='/myaccount/logout'] {
        .#{$site-prefix}iconnav__title i.icon {
            &:before {
                content: fa-content($fa-var-sign-out-alt);
            }
        }
    }
}

.#{$site-prefix}iconmedias {
    .#{$site-prefix}iconmedia {
        margin-bottom: $site-global-margin;
    }
        
    @include breakpoint(medium) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -$site-global-margin;
        
        .#{$site-prefix}iconmedia {
            width: calc(50% - 1rem);
            margin-right: $site-global-margin;
        }
    }
    @include breakpoint(large) {
        .#{$site-prefix}iconmedia {
            width: calc(25% - 1rem);
        }
    }
}