@each $key, $color in $site-colors {
    .c--#{$key} {
        color: $color !important;
    }
    .bd--#{$key} {
        border-color: $color !important;
    }
    .bg--#{$key} {
        background-color: $color !important;
    }
}