.c--one {
    color: $site-color-one !important;
}
.c--two {
    color: $site-color-two !important;
}
.c--three {
    color: $site-color-three !important;
}
.c--four {
    color: $site-color-four !important;
}
.c--five {
    color: $site-color-five !important;
}
.c--six {
    color: $site-color-six !important;
}
.c--seven {
    color: $site-color-seven !important;
}
.bd--one {
    border-color: $site-color-one !important;
}
.bd--two {
    border-color: $site-color-two !important;
}
.bd--three {
    border-color: $site-color-three !important;
}
.bd--four {
    border-color: $site-color-four !important;
}
.bd--five {
    border-color: $site-color-five !important;
}
.bd--six {
    border-color: $site-color-six !important;
}
.bd--seven {
    border-color: $site-color-seven !important;
}
.bg--one {
    background-color: $site-color-one !important;
}
.bg--two {
    background-color: $site-color-two !important;
}
.bg--three {
    background-color: $site-color-three !important;
}
.bg--four {
    background-color: $site-color-four !important;
}
.bg--five {
    background-color: $site-color-five !important;
}
.bg--six {
    background-color: $site-color-six !important;
}
.bg--seven {
    background-color: $site-color-seven !important;
}
