$fa-font-path: "../fonts/fontawesome";

@import '@fortawesome/fontawesome-pro/scss/variables';
@import '@fortawesome/fontawesome-pro/scss/mixins';

$site-prefix: 'oc-' !default;

$site-open-sans: 'Open+Sans:400,600' !default;

$site-normal-font-sizes: (
  "large":               16px,
  "normal":              14px,
  "small":               12px,
  "mini":                11px,
  "tiny":                10px,
  "nano":                8px
) !default;

$site-title-font-sizes: (
  "h1":                  38px,
  "h2":                  30px,
  "notificationdesktop": 28px,
  "h3":                  24px,
  "h42":                 20px,
  "h4":                  18px,
  "h5":                  16px
) !default;

$site-font-size: map-merge($site-title-font-sizes, $site-normal-font-sizes);

$site-font-line-height: (
  "h1": 48px,
  "h2": 40px,
  "h3": 34px,
  "h4": 28px,
  "h5": 26px,
  "p":  1.8
) !default;

$site-breakpoints: (
    small: 0,
    medium: 640px,
    large: 1025px,
    xlarge: 1200px,
    xxlarge: 1440px,
) !default;

$site-colors: (
    one: #555555,
    two: #666666,
    three: #777777,
    four: #888888,
    five: #999999,
    six: #AAAAAA,
    seven: #BBBBBB,
    eight: #CCCCCC,
    lightgrey: #F1F1F1,
    reallylightgrey: #F8F8F8,
    almostwhite: #FEFEFE,
    darkgrey: #5B5B5B
) !default;

$tocc-site-fonts-dir: '../fonts' !default;
$tocc-google-fonts: 'Open+Sans:400,600' !default;

$site-global-padding: 1rem !default;
$site-global-margin: 1rem !default;
$site-global-radius: 2px !default;

$site-content-paragraph-font-color: #5b5b5b !default;
$site-content-paragraph-font-family: 'Open Sans', sans-serif !default;

$site-flickity-tile-width: 379px !default;
$site-transparent: rgba(255, 255, 255, 0.001);