/**
 * TOCC Style Guide Element
 * 
 * @filename _tabletcolumn.scss
 * @brand    Vanilla
 * @name     tabletcolumn
 * @author   Tabs System User
 */
// Include Utilities
@import '../../utils/index';

// Include global variables
@import '../../variables/vanilla';

$site-tablet-padding: $site-global-padding / 2;

@mixin tabletcol($size) {
    @include breakpoint($size) {
        font-size: 0;
    }
    > * {
        @include breakpoint($size) {
            width: calc(50% - 1px);
            display: inline-block;
            vertical-align: top;
            font-size: 0;

            &:first-child {
                padding-right: $site-tablet-padding;
            }

            &:last-child {
                padding-left: $site-tablet-padding;
            }
        }
    }
}

.#{$site-prefix}tabletcolumn {
    &--small {
        @include tabletcol(small only);
        @include tabletcol(medium only);
    }
    &--smallonly {
        @include tabletcol(small only);
    }
    &--mediumonly {
        @include tabletcol(medium only);
    }
    &--retina {
        @include breakpoint(retina) {
            @include tabletcol(medium only);
        }
    }
}