/**
 * TOCC Style Guide Element
 * 
 * @filename _booleansliderswitch.scss
 * @brand    Vanilla
 * @name     booleansliderswitch
 * @author   Tabs System User
 */
// Include Utilities
@import '../../utils/index';

// Include global variables
@import '../../variables/vanilla';


@mixin pseudostate {
    align-self: center;
    width: 30px;
    height: 30px;
    align-self: center;
    border-radius: 2px;
    margin-right: 4px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.#{$site-prefix}booleansliderswitch {
    height: 40px;
    border: 1px solid #DEDEDE;
    max-width: 300px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    label {
        padding: 8px;
    }

    input {
        align-self: center;
        display: flex;
        align-items: stretch;
        border-radius: 2px;
        -webkit-appearance: initial;
        appearance: initial;
        font-weight: bold;
        border: none;
        
        &:focus {
            outline: none;
        }


        &:before {
            @include pseudostate;
            content: attr(data-msg-on);
            color: #5B5B5B;
            margin-left: 4px;
        }

        &:after {
            @include pseudostate;
            content: attr(data-msg-off);
            background: #5b5b5b;
            color: white;
        }
    }

    input[type="checkbox"]:checked {
        &:before {
            @include pseudostate;
            content: attr(data-msg-on);
            background: #019701;
            color: white;
            margin-left: 4px;
        }

        &:after {
            @include pseudostate;
            content: attr(data-msg-off);
            color: #5B5B5B;
            background: white;
        }
    }
}