/**
 * TOCC Style Guide Element
 * 
 * @filename _list.scss
 * @brand    Vanilla
 * @name     list
 * @author   Tabs System User
 */
// Include Utilities
@import '../../utils/index';

// Include global variables
@import '../../variables/vanilla';

$site-list-margin: $site-global-margin;
$site-list-item-margin: 8px;


.#{$site-prefix}list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: $site-list-margin;
    
    @include paragraph();
    
    &,
    &--inline {
        > * {
            margin-bottom: $site-list-item-margin;
        }
    }
    
    &--inline {
        > * {
            display: inline-block;
            margin-right: $site-list-item-margin;;
            vertical-align: top;
        }
        
        &.slider {
            @include slider();
        }
    }
    
    &--comma {
        > * {
            display: inline;
            padding: 0;
            
            &:after {
                content: ', ';
            }
            
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    
    
    &--inline.#{$site-prefix}prefix,
    &--comma.#{$site-prefix}prefix,
    &.#{$site-prefix}prefix {
        @include breakpoint(small only) {
            &:before {
                display: block;
            }
        }
    }
    
    &--numbered {
        > * {
            counter-increment: sequence;
            &:before {
                content: counter(sequence);
                padding: 1px 7px;
                background: map-get($site-colors, one);
                border-radius: 50%;
                color: white;
                font-weight: bold;
            }
        }
    }
}