@import 'vanilla';
@import '../variables/31';
@import url("https://fonts.googleapis.com/css?family=#{$tocc-google-fonts}&display=swap");

@font-face {
    font-family: 'Museo Sans 300';
    src: url('#{$tocc-site-fonts-dir}/museosans/exljbris_-_museosans-300_3-webfont.woff2') format('woff2'),
         url('#{$tocc-site-fonts-dir}/museosans/exljbris_-_museosans-300_3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}