$brand-colors: (
    one: #4E4E4C, // AB Ship Grey
    two: #DC3A7C, //AB Deep Cerise
    three: #CB9F2D, // AB Galliano
    four: #77AABF, // AB Glacier
    five: #99ADBF, // BC Nepal
    six: #F9CCC5, // BC Coral Candy
    seven: #83B1AA, // BC Gulf Stream
    eight: #9899B1 // BC Spun Pearl
);
 
// Merge maps
$site-colors: map-merge($site-colors, $brand-colors);

//Font
$site-content-header-font-family: "Avenir LT";
$site-content-header-font-weight: bold;
$site-slogan-font-weight: bold;