//Colors
$site-color-one: #4E4E4C; // AB Ship Grey
$site-color-two: #DC3A7C; //AB Deep Cerise
$site-color-three: #CB9F2D; // AB Galliano
$site-color-four: #77AABF; // AB Glacier
$site-color-five: #99ADBF; // BC Nepal
$site-color-six: #F9CCC5; // BC Coral Candy
$site-color-seven: #83B1AA; // BC Gulf Stream
$site-color-eight: #9899B1; // BC Spun Pearl


//Font
$site-content-header-font-family: "Avenir LT";
$site-content-header-font-weight: bold;
$site-slogan-font-weight: bold;