$brand-colors: (
    one: #1D1D1B,   // Ebony
    two: #C1A01E,   // Nugget
    three: #B36A94, // Tapestry
    four: #708573,  // Laurel
    five: #BFB7B0,  // Tide  
    six: #F6D44D,   // Energy Yellow
    seven: #DBFDD2  // Thistle
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'AvenirLTPro-Heavy', sans-serif;
$site-slogan-font-family: 'AvenirLTPro-Heavy', sans-serif;
$site-marketingmessage-headerlink-font-weight: normal;
$site-slogan-text-transform: uppercase;
$site-slogan-letter-spacing: 1px;

$site-reassurance-bar-icon-even: map-get($site-colors, three);
$site-reassurance-bar-icon-odd: map-get($site-colors, four);