$brand-color-one: #1D1D1B; // Ebony
$brand-color-two: #C1A01E; // Nugget
$brand-color-three: #B36A94; // Tapestry
$brand-color-four: #708573; // Laurel
$brand-color-five: #BFB7B0; // Tide  
$brand-color-six: #F6D44D; // Energy Yellow
$brand-color-seven: #DBFDD2; // Thistle

$site-content-header-font-family: 'AvenirLTPro-Heavy', sans-serif;