$site-color-one: #1D1D1B; // Ebony
$site-color-two: #C1A01E; // Nugget
$site-color-three: #B36A94; // Tapestry
$site-color-four: #708573; // Laurel
$site-color-five: #BFB7B0; // Tide  
$site-color-six: #F6D44D; // Energy Yellow
$site-color-seven: #DBFDD2; // Thistle

$site-content-header-font-family: 'AvenirLTPro-Heavy', sans-serif;

$site-slogan-font-family: 'AvenirLTPro-Heavy', sans-serif;
$site-slogan-text-transform: uppercase;
$site-slogan-letter-spacing: 1px;

$site-reassurance-bar-icon-even: $site-color-three;
$site-reassurance-bar-icon-odd: $site-color-four;