$brand-colors: (
    one: #888569,
    two: #F04F38,
    three: #BBB89D,
    four: #231F20,
    five: #C0C481,
    six: #80AEAF,
    seven: #FFD65C
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: "Helvetica Neue", Helvetica, Arial ,sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: "blackjackregular";
$site-slogan-font-color: map-get($site-colors, two);
$site-slogan-font-size: 25px;
$site-reassurance-bar-icon-odd: map-get($site-colors, six);
$site-reassurance-bar-icon-even: map-get($site-colors, three);
$site-button-background: map-get($site-colors, six);