$brand-colors: (
    one: #5A5A5A,
    two: #857389,
    three: #333333,
    four: #3C6A7F,
    five: #CCB26A,
    six: #749BB1,
    seven: #AD6449,
    eight: #6A9065
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-global-radius: 0;
$site-content-header-font-family: 'Avenir LT', 'Avenir', sans-serif;
$site-slogan-font-family: 'Avenir LT', 'Avenir', sans-serif;
$site-slogan-font-weight: bold;
$site-content-header-font-weight: bold;
$site-reassurance-bar-icon-odd: map-get($site-colors, four);
$site-reassurance-bar-icon-even: map-get($site-colors, six);