$site-color-one: #5A5A5A; // Zambesi
$site-color-two: #857389; // Mamber
$site-color-three: #333333; // Night rider
$site-color-four: #3C6A7F; // Calypso
$site-color-five: #CCB26A; // Sand
$site-color-six: #749BB1; // Bermuda
$site-color-seven: #AD6449; // Tuscany
$site-color-eight: #6A9065; // NO Hippie Green

$site-radius: 0;
$site-content-header-font-family: 'Avenir LT', 'Avenir', sans-serif;
$site-content-header-font-weight: bold;

$site-slogan-font-family: 'Avenir LT', 'Avenir', sans-serif;
$site-slogan-font-weight: bold;