$site-color-one: #888569; // Thatch
$site-color-two: #F04F38; // Starfish
$site-color-three: #BBB89D; // Sand
$site-color-four: #231F20; // Twinkle
$site-color-five: #C0C481; // Apple
$site-color-six: #FFD65C; // Buttermilk 
$site-color-seven: #80AEAF; // Ocean

$site-content-header-font-family: Helvetica Neue, Helvetica , Arial , sans-serif;