$brand-colors: (
    one: #159A8D,
    two: #008ECF,
    three: #F0CA46,
    four: #005171,
    five: #D6D9DB,
    six: #D7E1D7,
    seven: #FFF0DB
);

$site-colors: map-merge($site-colors, $brand-colors);
$tocc-google-fonts: '#{$site-open-sans}|Open+Sans+Condensed';
$site-content-header-font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
$site-content-header-font-weight: bold;
$site-content-header-text-transform: uppercase;