$brand-colors: (
    one: #377C6F, // #159A8D,
    two: #407597, //#008ECF,
    three: #588B78, //#F0CA46,
    four: #005171,
    five: #D6D9DB,
    six: #D7E1D7,
    seven: #FFF0DB
);

$brand-color: (
    on
);

$site-colors: map-merge($site-colors, $brand-colors);
$tocc-google-fonts: '#{$site-open-sans}|Open+Sans+Condensed';
$site-content-header-font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
$site-marketingmessage-headerlink-font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
$site-content-header-font-weight: bold;
$site-marketingmessage-headerlink-font-weight: bold;
$site-content-header-text-transform: uppercase; 
$site-reassurance-bar-icon-odd: map-get($site-colors, four);
$site-reassurance-bar-icon-even: map-get($site-colors, one);