$site-color-one: #5B8772; // SF Cutty Sark
$site-color-two: #C47E0E; //SF Dark Goldenrod
$site-color-three: #a3af07; // SF Pistachio
$site-color-four: #c66005; // SF Tenne
$site-color-five: #76881d; // SF Trendy Green
$site-color-six: #d6ce49; // SF Confetti
$site-color-seven: #003d4c; // SF Cyprus
$site-color-eight: #c31f3d; // SF Tamarillo

$site-content-header-font-family: 'Actor', sans-serif;

$tocc-google-fonts: 'Open+Sans|Actor';

$site-slogan-font-family: 'wheatland';
$site-slogan-font-size: 28px;
$site-slogan-font-weight: bold;
$site-slogan-font-color: $site-color-three;

$site-reassurance-bar-icon-odd: $site-color-five;
$site-reassurance-bar-icon-even: $site-color-five;