$brand-colors: (
    one: #5B8772,
    two: #C47E0E,
    three: #a3af07,
    four: #c66005,
    five: #76881d,
    six: #d6ce49,
    seven: #003d4c,
    eight: #c31f3d
);

$tocc-google-fonts: '#{$site-open-sans}|Actor';
$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'Actor', sans-serif;
$site-content-header-font-weight: bold;
$site-marketingmessage-headerlink-font-family:  'Actor', sans-serif;
$site-slogan-font-family: 'wheatland';
$site-slogan-font-size: 28px;
$site-slogan-font-weight: bold;
$site-slogan-font-color: map-get($site-colors, three);
$site-reassurance-bar-icon-odd: map-get($site-colors, four);
$site-reassurance-bar-icon-even: map-get($site-colors, five); 
