$brand-colors: (
    one: #54284E,
    two:  #F5C400,
    three: #A87EB1,
    four: #64B1BC,
    five: #3E3935,
    six: #006068,
    seven: #8D846A,
    eight: #DBD9D6
);

$site-colors: map-merge($site-colors, $brand-colors);
$tocc-google-fonts: '#{$site-open-sans}|Oswald';
$site-content-header-font-family: 'Oswald', sans-serif;
$site-content-header-text-transform: uppercase;
$site-marketingmessage-headerlink-font-weight: normal;
$site-marketingmessage-headerlink-font-family:  'Oswald', sans-serif;
$site-content-link-color: map-get($site-colors, four);
$site-slogan-font-family:  'Oswald', sans-serif;
$site-slogan-text-transform: uppercase;
$site-reassurance-bar-icon-odd: map-get($site-colors, one);
$site-reassurance-bar-icon-even: map-get($site-colors, three);
$site-button-color: map-get($site-colors, five);