$site-color-one: #045A4B; // Evening Sea
$site-color-two: #Df990C; // Golden Grass
$site-color-three: #066D5C; // Watercourse
$site-color-four:  #C1282E; // Tall poppy
$site-color-five: #008Ec7; // Blue Chill
$site-color-six: #Eb5B27; // Cinnabar
$site-color-seven: #57B4C3; // Aquamarine

$site-content-header-font-family: 'sharpsansbook', sans-serif;
$site-slogan-font-family: 'sharpsansbook', sans-serif;