$brand-colors: (
    one: #045A4B,
    two: #Df990C,
    three: #066D5C,
    four: #C1282E,
    five: #008Ec7,
    six: #Eb5B27,
    seven: #57B4C3
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'sharpsansbook', sans-serif;
$site-slogan-font-family: 'sharpsansbook', sans-serif;
$site-reassurance-bar-icon-odd: map-get($site-colors, one);
$site-reassurance-bar-icon-even: map-get($site-colors, one);