$brand-colors: (
    one: #274d76,
    two: #6a9bd2,
    three: #F4DB57,
    four: #3E484D,
    five: #B8B4A3,
    six: #80AEAF,
    seven: #92CEE8
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: Montserrat, sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: Montserrat, sans-serif;
$site-slogan-font-weight: bold;

$tocc-google-fonts: '#{$site-open-sans}|Montserrat:600';

$site-reassurance-bar-icon-even: #7FACAE;
$site-reassurance-bar-icon-odd: #B6B3A2;