$site-color-one: #274d76;
$site-color-two: #6a9bd2;
$site-color-three: #F4DB57;
$site-color-four: #3E484D;
$site-color-five: #B8B4A3;
$site-color-six: #80AEAF;
$site-color-seven: #92CEE8;

$site-content-header-font-family: Montserrat, sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: Montserrat, sans-serif;

$tocc-google-fonts: 'Open+Sans|Montserrat';