$brand-colors: (
    one: #44697C,
    two: #739600,
    three: #D10074,
    four: #0088CE,
    five: #E05206,
    six: #009B3A,
    seven: #240078
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'Century Gothic', 'TeX Gyre Adventor', 'Futura', 'Tw Cen MT', sans-serif;
$site-slogan-font-family: 'jenna_sueregular', "Segoe Script", "BradleyHandITCTT-Bold", sans-serif;
$site-slogan-font-color: map-get($site-colors, two);
$site-slogan-font-size: 36px;
$site-slogan-line-height: 28px;