$brand-colors: (
    one: #4C565C,
    two: #01A6AA,
    three: #E50171,
    four: #FFD200,
    five: #F49600,
    six: #8AC2EB,
    seven: #ADAFB2,
    eight: #FFEC9D
);

$site-colors: map-merge($site-colors, $brand-colors);
$tocc-google-fonts: '#{$site-open-sans}|Oswald';
$site-content-header-font-family: 'Oswald', sans-serif;
$site-content-header-text-transform: uppercase;
$site-slogan-font-family: 'Oswald', sans-serif;
$site-slogan-text-transform: uppercase;