$brand-colors: (
    one: #263545,
    two: #C4A000,
    three: #8CA8bc,
    four: #BACBD7,
    five: #DCE5f2,
    six: #6C084A,
    seven: #4F6884
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: "Museo Sans 300", Helvetica Neue,Helvetica,Arial,sans-serif;
$site-slogan-font-family: "Museo Sans 300", Helvetica Neue,Helvetica,Arial,sans-serif;
$site-slogan-text-transform: uppercase;