//Colors
$site-color-one: #263545; // BW Pickled Bluewood
$site-color-seven: #4F6884; // BW Chambray
$site-color-three: #8CA8bc; // BW Ship Cove
$site-color-four: #BACBD7; // BW Spindle
$site-color-five: #DCE5f2; // Moon Raker
$site-color-six: #6C084A; // BW Claret
$site-color-two: #C4A000; // BW Buddha Gold

//Fonts
$site-content-header-font-family: "Museo Sans 300", Helvetica Neue,Helvetica,Arial,sans-serif;
$site-slogan-font-family: "Museo Sans 300", Helvetica Neue,Helvetica,Arial,sans-serif;
$site-slogan-text-transform: uppercase;