$brand-colors: (
    one: #033234,
    two: #450C34,
    three: #798286,
    four: #F9F7f0,
);

$site-colors: map-merge($site-colors, $brand-colors);
$tocc-google-fonts: '#{$site-open-sans}';
$site-content-header-font-family: 'TT Norms', sans-serif;
$site-slogan-font-family: 'TT Norms', sans-serif;
$site-global-radius: 5px;
$site-reassurance-bar-icon-odd: map-get($site-colors, one);
$site-reassurance-bar-icon-even: map-get($site-colors, one);
$site-button-radius: 0px;
$site-content-header-font-color:  map-get($site-colors, two);