//Colors
$site-color-one: #444444;
$site-color-two: #44A542;
$site-color-three: #FECE00;  // IV Tangerine Yellow
$site-color-four: #85D0F0;  // IV Columbia Blue
$site-color-five: #1CABE0;  // IV Summer Sky
$site-color-six: #EEEEEE;    //IV Desert Storm
$site-color-seven: #28A2AF;  //IV Lochinvar 
$site-color-eight: #FFED9E; // IV Parchment

$site-content-header-font-family: 'Bauhaus', sans-serif; 
$site-content-header-font-weight: bold;
$site-slogan-font-family: 'Bauhaus', sans-serif; 
$site-slogan-font-weight: bold;

$site-reassurance-bar-icon-odd: $site-color-four;