$brand-colors: (
    one: #444444,
    two: #44A542,
    three: #FECE00,
    four: #85D0F0,
    five: #1CABE0,
    six: #EEEEEE,
    seven: #28A2AF,
    eight: #FFED9E
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'Bauhaus', sans-serif; 
$site-content-header-font-weight: bold;
$site-slogan-font-family: 'Bauhaus', sans-serif; 
$site-slogan-font-weight: bold;
$site-reassurance-bar-icon-odd: map-get($site-colors, four);