$site-color-one: #576B6B; // ST William
$site-color-two: #ff5600; // ST Christine
$site-color-three: #C4D0CD; // ST Tiara
$site-color-four: #EDF0F0 ; //ST Porcelain
$site-color-five: #337AB7; // ST Astral
$site-color-six: #D7E1D7; // PC Aqua Squeeze
$site-color-seven: #FFF0DB; // PC PAPAYA WHIP

$site-reassurance-bar-icon-odd: $site-color-five;
$site-reassurance-bar-icon-even: $site-color-one;

$site-content-header-font-weight: bold;