$brand-colors: (
    one: #576B6B,
    two: #ff5600,
    three: #C4D0CD,
    four: #EDF0F0,
    five: #337AB7,
    six: #D7E1D7,
    seven: #FFF0DB
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-reassurance-bar-icon-odd: map-get($site-colors, five);
$site-reassurance-bar-icon-even: map-get($site-colors, one);
$site-content-header-font-weight: bold;