$brand-colors: (
    one: #004AA2,
    two: #46B29D,
    three: #384C5B,
    four: #026DC8,
    five: #F53855,
    six: #F0CA4D,
    seven: #E5F1F5
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-reassurance-bar-icon-odd: map-get($site-colors, one);
$site-reassurance-bar-icon-even: map-get($site-colors, four);
$site-content-header-font-weight: bold;
$tocc-google-fonts: '#{$site-open-sans}|Philosopher:400,700';
$site-content-header-font-family: "Philosopher",sans-serif;
$site-marketingmessage-headerlink-font-family: 'Philosopher';
$site-slogan-font-weight: bold;