$brand-colors: (
    one: #27387A,
    two: #4CA8DB,
    three: #C3A887,
    four: #575756,
    five: #99ADBF,
    six: #F9CCC5,
    seven: #83B1AA,
    eight: #9899B1
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'Arcon Regular', sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: 'Arcon Regular', sans-serif;
$site-marketingmessage-headerlink-font-family: 'Arcon Regular', sans-serif;
$site-slogan-font-weight: bold;