$brand-colors: (
    one: #626366,
    two: #97ACB5,
    three: #B5BD24,
    four: #17BED2,
    five: #EE3C4D,
    six: #F2692A,
    seven: #FECE09,
    eight: #003D51
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-content-header-font-family: 'Montserrat', sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: 'Montserrat', sans-serif;
$site-slogan-font-weight: bold;
$tocc-google-fonts: '#{$site-open-sans}|Montserrat';
$site-marketingmessage-headerlink-font-family: 'Montserrat';
$site-property-icons-color: map-get($site-colors, three);