// Colors
$site-color-one:  #626366; // CO Tuna
$site-color-two: #97ACB5; // CO Botticelli
$site-color-three: #B5BD24;  // CO Logo Green
$site-color-four: #17BED2;  // CO Iris Blue
$site-color-five: #EE3C4D;  // CO Amaranth
$site-color-six: #F2692A;    // CO Burnt Orange
$site-color-seven: #FECE09;  //CO DAndelion
$site-color-seven: #003D51; // CO Sherpa Blue

// Font
$site-content-header-font-family: 'Montserrat', sans-serif;
$site-content-header-font-weight: bold;
$site-slogan-font-family: 'Montserrat', sans-serif;
$site-slogan-font-weight: bold;

$tocc-google-fonts: '#{$site-open-sans}|Montserrat';

$site-property-icons-color: $site-color-three;