$brand-colors: (
    one: #D9610E,
    two: #F07E26,
    three: #706F6F,
    four: #ECB086,
    five: #E49056,
    six: #F4cFB6
);

$site-colors: map-merge($site-colors, $brand-colors);
$site-reassurance-bar-icon-odd: map-get($site-colors, three);
$site-reassurance-bar-icon-even: map-get($site-colors, one);
$site-content-header-font-weight: bold;
$site-content-header-font-family: 'sharpsansbook', 'Open Sans', sans-serif;
$site-marketingmessage-headerlink-font-family: 'sharpsansbook', 'Open Sans', sans-serif;
$tocc-google-fonts: '#{$site-open-sans}';
$site-slogan-font-weight: bold;